/* ---- start Navigation ---- */
.navigation {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation ul {
  border: 1px green solid;
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}
/* ---- start Navigation ---- */
/* ---- start Book Item ---- */
.book-container {
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-container .book-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.book-info .edit-info {
  display: flex;
}

.book-container .progress {
  flex: 1;
}

.book-container .chapter {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* ---- Ends Book Item ---- */
