
a {
  text-decoration: none;
}

ul{
  padding-left: 0;
}

li{
  list-style: none;
}

button {
  font-family: 'Roboto Slab', serif;
}

/* ---- start Navigation ---- */
.navigation {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 7.14vw;
  padding-right: 7.07vw;
}

.navigation .book-cms {
  font-family: 'Montserrat', sans-serif;
  color: #0290ff;
  font-size: 2.14VW;
  font-weight: bold;
}

.navigation ul {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.navigation ul .nav-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 0.929VW;
  color: #121212;
}

.navigation ul .nav-text:hover {
  color: #12121280;
}

/* ---- start Navigation ---- */

/* ---- start Book Item ---- */

.book-list {
  padding-left: 7.14vw;
  padding-right: 7.14vw;
  padding-top: 2.71vw;
  height: 12.14vw;
  background-color: #fafafa;
}

.book-container {
  border: red 1px solid;
  display: flex;
  align-items: center;
  padding-top: 2.28vw;
  padding-left: 1.92vw;
  padding-bottom: 2vw;
  margin-bottom: 1.25%;
}

.book-container .book-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.book-info .genre {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  color: #12121280;
}

.book-info .title{
  font-family: 'Roboto Slab', serif;
  font-size: 1.57vw;
  color: #121212;
}

.book-info .author {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  font-size: 1vw;
  color: #4386bf;
}

.book-info .edit-info {
  display: flex;
}

.book-container .progress{
  display: flex;
  flex-direction: column;
}

.progress .progress-indicator {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.28vw;
}

.progress .status-indicator {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
}

.edit-info button {
  border: 0;
  background-color: inherit;
  color: #4386bf;
  font-size: 1vw;
}

.book-container .progress {
  flex: 1;
}

.book-container .chapter {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chapter .chap-head {
  font-family: 'Roboto Slab', serif;
  font-size: 0.929vw;
}

.chapter .chap-progress {
  font-family: 'Roboto Slab', serif;
  font-size: 1.14vw;
}

.chapter button {
  font-size: 0.929vw;
}

/* ---- Ends Book Item ---- */


/*Remove below after Debuggin*/
form {
  display: none;
}

.form-head {
  display: none;
}
