a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  font-family: 'Roboto Slab', serif;
}

.oval-container {
  margin-left: 0.78vw;
  margin-right: 0.78vw;
}

.oval-2 {
  width: 4.85vw;
  height: 4.85vw;
  border-style: solid;
  border-width: 5px;
  border-image-slice: 1;
  border-radius: 100%;
  border-color: #0290ff;
}

/* ---- start Navigation ---- */
.navigation {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 7.14vw;
  padding-right: 7.07vw;
}

.navigation .book-cms {
  font-family: 'Montserrat', sans-serif;
  color: #0290ff;
  font-size: 2.14vw;
  font-weight: bold;
}

.navigation ul {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.navigation ul .nav-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 0.929vw;
  color: #121212;
}

.navigation ul .nav-text:hover {
  color: #12121280;
}

/* ---- start Navigation ---- */

/* ---- start Book Item ---- */

.book-list {
  padding-left: 7.14vw;
  padding-right: 7.14vw;
  padding-top: 2.71vw;
  height: 12.14vw;
  background-color: #fafafa;
}

.book-container {
  border: #e8e8e8 1px solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-top: 2.28vw;
  padding-left: 1.92vw;
  padding-bottom: 2vw;
  margin-bottom: 1.25%;
}

.book-container .book-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.book-info .genre {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  color: #12121280;
}

.book-info .title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.57vw;
  color: #121212;
  margin-top: 0.285vw;
  margin-bottom: 0;
  width: 34vw;
}

.book-info .author {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  font-size: 1vw;
  color: #4386bf;
  margin-bottom: 1.5vw;
}

.book-info .edit-info {
  display: flex;
  width: 15.8vw;
}

.book-container .progress {
  display: flex;
  flex-direction: column;
}

.progress .progress-indicator {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.28vw;
}

.progress .status-indicator {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  color: #12121280;
}

.edit-info button {
  border: 0;
  background-color: inherit;
  color: #4386bf;
  font-size: 1vw;
}

.edit-info .center-button {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.book-container .progress {
  width: fit-content;
  border-right: 1px solid #e8e8e8;
  padding-right: 1%;
}

.book-container .chapter {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 4.21vw;
}

.chapter .chap-head {
  font-family: 'Roboto Slab', serif;
  font-size: 0.929vw;
  color: #12121280;
  margin-bottom: 0.50vw;
}

.chapter .chap-progress {
  font-family: 'Roboto Slab', serif;
  font-size: 1.14vw;
  color: #121212;
  margin-bottom: 2.13vw;
}

.chapter button {
  font-size: 0.929vw;
  width: 13.14vw;
  color: #fff;
  background-color: #0290ff;
  border: 0;
  padding: 0.50vw 1.357vw 0.57vw;
}

/* ---- Ends Book Item ---- */

/*Remove below after Debuggin*/

form {
  display: none;
}

.form-head {
  display: none;
}
